body {
  background-color: var(--cui-tertiary-bg);
  color: #858796;
}

.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.header > .container-fluid,
.sidebar-header {
  min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
}

.sidebar-brand-full {
  margin-left: 3px;
}

.sidebar-header {
  .nav-underline-border {
    --cui-nav-underline-border-link-padding-x: 1rem;
    --cui-nav-underline-border-gap: 0;
  }

  .nav-link {
    display: flex;
    align-items: center;
    min-height: calc(4rem + 1px); // stylelint-disable-line function-disallowed-list
  }
}

.sidebar-toggler {
  @include ltr-rtl("margin-left", auto);
}

.sidebar-narrow,
.sidebar-narrow-unfoldable:not(:hover) {
  .sidebar-toggler {
    @include ltr-rtl("margin-right", auto);
  }
}

.header > .container-fluid + .container-fluid {
  min-height: 3rem;
}

.footer {
  min-height: calc(3rem + 1px); // stylelint-disable-line function-disallowed-list
}

.date-picker, :not(.date-picker)>.date-picker-dropdown {
  --cui-date-picker-zindex: 1000;
  --cui-date-picker-font-family: ;
  --cui-date-picker-font-size: 1rem;
  --cui-date-picker-font-weight: 400;
  --cui-date-picker-line-height: 1.5;
  --cui-date-picker-color: var(--cui-body-color);
  --cui-date-picker-bg: var(--cui-body-bg);
  --cui-date-picker-box-shadow: inset 0 1px 2px rgba(8, 10, 12, .075);
  --cui-date-picker-border-width: var(--cui-border-width);
  --cui-date-picker-border-color: var(--cui-border-color);
  --cui-date-picker-border-radius: 0.375rem;
  --cui-date-picker-disabled-color: var(--cui-body-color);
  --cui-date-picker-disabled-bg: var(--cui-secondary-bg);
  --cui-date-picker-disabled-border-color: var(--cui-border-color);
  --cui-date-picker-focus-color: var(--cui-body-color);
  --cui-date-picker-focus-bg: var(--cui-body-bg);
  --cui-date-picker-focus-border-color: #acabeb;
  --cui-date-picker-focus-box-shadow: 0 0 0 0.25rem rgba(88, 86, 214, .25);
  --cui-date-picker-placeholder-color: var(--cui-secondary-color);
  --cui-date-picker-padding-y: 0.375rem;
  --cui-date-picker-padding-x: 0.75rem;
  --cui-date-picker-gap: 0.75rem;
  --cui-date-picker-indicator-width: 1.25rem;
  --cui-date-picker-indicator-icon: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M472 96h-88V40h-32v56H160V40h-32v56H40a24.028 24.028 0 0 0-24 24v336a24.028 24.028 0 0 0 24 24h432a24.028 24.028 0 0 0 24-24V120a24.028 24.028 0 0 0-24-24Zm-8 352H48V128h80v40h32v-40h192v40h32v-40h80Z'/%3E%3Crect width='32' height='32' x='112' y='224'/%3E%3Crect width='32' height='32' x='200' y='224'/%3E%3Crect width='32' height='32' x='280' y='224'/%3E%3Crect width='32' height='32' x='368' y='224'/%3E%3Crect width='32' height='32' x='112' y='296'/%3E%3Crect width='32' height='32' x='200' y='296'/%3E%3Crect width='32' height='32' x='280' y='296'/%3E%3Crect width='32' height='32' x='368' y='296'/%3E%3Crect width='32' height='32' x='112' y='368'/%3E%3Crect width='32' height='32' x='200' y='368'/%3E%3Crect width='32' height='32' x='280' y='368'/%3E%3Crect width='32' height='32' x='368' y='368'/%3E%3C/svg%3E);
  --cui-date-picker-indicator-icon-color: var(--cui-tertiary-color);
  --cui-date-picker-indicator-icon-size: 1rem;
  --cui-date-picker-cleaner-width: 1.25rem;
  --cui-date-picker-cleaner-icon: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpolygon points='306.912 214.461 256 265.373 205.088 214.461 182.461 237.088 233.373 288 182.461 338.912 205.088 361.539 256 310.627 306.912 361.539 329.539 338.912 278.627 288 329.539 237.088 306.912 214.461'/%3E%3Cpath d='M472 96h-88V40h-32v56H160V40h-32v56H40a24.028 24.028 0 0 0-24 24v336a24.028 24.028 0 0 0 24 24h432a24.028 24.028 0 0 0 24-24V120a24.028 24.028 0 0 0-24-24Zm-8 352H48V128h80v40h32v-40h192v40h32v-40h80Z'/%3E%3C/svg%3E);
  --cui-date-picker-cleaner-icon-color: var(--cui-tertiary-color);
  --cui-date-picker-cleaner-icon-hover-color: var(--cui-body-color);
  --cui-date-picker-cleaner-icon-size: 1rem;
  --cui-date-picker-separator-width: 1.25rem;
  --cui-date-picker-separator-icon: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpolygon points='359.873 121.377 337.246 144.004 433.243 240.001 16 240.001 16 240.002 16 272.001 16 272.002 433.24 272.002 337.246 367.996 359.873 390.623 494.498 256 359.873 121.377'/%3E%3C/svg%3E);
  --cui-date-picker-separator-icon-rtl: url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpolygon points='497.333 239.999 80.092 239.999 176.087 144.004 153.46 121.377 18.837 256 153.46 390.623 176.087 367.996 80.09 271.999 497.333 271.999 497.333 239.999'/%3E%3C/svg%3E);
  --cui-date-picker-separator-icon-size: 1rem;
  --cui-date-picker-dropdown-bg: var(--cui-body-bg);
  --cui-date-picker-dropdown-border-width: var(--cui-border-width);
  --cui-date-picker-dropdown-border-color: var(--cui-border-color);
  --cui-date-picker-dropdown-border-radius: var(--cui-border-radius);
  --cui-date-picker-dropdown-box-shadow: var(--cui-box-shadow);
  --cui-date-picker-ranges-width: 10rem;
  --cui-date-picker-ranges-padding: 0.5rem;
  --cui-date-picker-ranges-border-width: 1px;
  --cui-date-picker-ranges-border-color: var(--cui-border-color);
  --cui-date-picker-timepicker-width: 20.25rem;
  --cui-date-picker-timepicker-border-color: var(--cui-border-color);
  --cui-date-picker-timepicker-border-top: 1px solid var(--cui-date-picker-timepicker-border-color);
  --cui-date-picker-footer-padding: 0.5rem;
  --cui-date-picker-footer-border-width: 1px;
  --cui-date-picker-footer-border-color: var(--cui-border-color);
}

.date-picker .date-picker-input-group {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.date-picker-input-group {
  align-items: stretch;
  background-clip: padding-box;
  background-color: var(--cui-date-picker-bg);
  border: var(--cui-date-picker-border-width) solid var(--cui-date-picker-border-color);
  border-radius: var(--cui-date-picker-border-radius);
  display: flex;
  flex-wrap: wrap;
  gap: var(--cui-date-picker-gap);
  padding: var(--cui-date-picker-padding-y) var(--cui-date-picker-padding-x);
  position: relative;
  width: 100%;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    body {
      background-color: var(--cui-dark-bg-subtle);
    }

    .footer {
      --cui-footer-bg: var(--cui-body-bg);
    }
  }
}
